
extra_material/wiki_pageviews_covid/data/topics_linked.csv
extra_material/wiki_pageviews_covid/data/.ipynb_checkpoints/topics_linked-checkpoint.csv
extra_material/wiki_pageviews_covid/data/.ipynb_checkpoints/interventions-checkpoint.csv
extra_material/wiki_pageviews_covid/data/Global_Mobility_Report.csv
extra_material/wiki_pageviews_covid/data/.ipynb_checkpoints/Global_Mobility_Report-checkpoint.csv
extra_material/wiki_pageviews_covid/data/aggregated_timeseries.json

/Users/Etienne/Documents/GitHub/ada-2023-project-adadakadavra/extra_material/wiki_pageviews_covid/data/*