
extra_material/wiki_pageviews_covid/data/topics_linked.csv
extra_material/wiki_pageviews_covid/data/.ipynb_checkpoints/topics_linked-checkpoint.csv
extra_material/wiki_pageviews_covid/data/.ipynb_checkpoints/interventions-checkpoint.csv
extra_material/wiki_pageviews_covid/data/Global_Mobility_Report.csv
extra_material/wiki_pageviews_covid/data/.ipynb_checkpoints/Global_Mobility_Report-checkpoint.csv
extra_material/wiki_pageviews_covid/data/aggregated_timeseries.json

/Users/Etienne/Documents/GitHub/ada-2023-project-adadakadavra/extra_material/wiki_pageviews_covid/data/*
.ipynb_checkpoints/Handling_text_exercise_1_solution-checkpoint.ipynb
Handling_text_exercise_1_solution.ipynb
Handling_text_exercise_2_solution.ipynb
milestone2-Copy1.ipynb
.ipynb_checkpoints/milestone2-Copy1-checkpoint.ipynb
extra_material/try (1).ipynb
extra_material/try.ipynb
barplot_per_categories.png
retweet_per_sentiment.png
retweets_per_categories.png
sentiment_pie_chart.png
stacked_plot_sentiment_categories.png
